<h3> _________Your best guess_________ </h3>
<h3> <%=@guess%> </h3>

results
@score 
<h5> PLAY AGAIN!!!!</h5>
<%# link_to %>

<%# receiving display form,
computing the user score and displaying it. %>
